
.devices{
     h1{
        color: $cor-secundaria;
        padding-bottom: 20px;
    }
    h2{
        text-align: center;
        padding-bottom: 20px;
    }
    .devices-header{
        @include font-primaria(1.5em, $cor-secundaria);
        padding: 20px 0px; 
        &::after{
            content: '';
            width: 200px;
            height: 3px;
            background-color: $cor-secundaria;
            display: inline-block;
            margin-left: 20px;
            margin-bottom: 5px;
        }
    }
}

.cards-container{
    display: flex;
    
    justify-content: space-between;
    .card{
        max-width: 400px;
        color: $cor-secundaria;
        margin-right: 20px;
        margin-bottom: 60px;
        .img-container{
            display: flex;
            align-items: center;
            justify-content: center;
        
            width: 100%;
            align-items: center;
            overflow: hidden;
         
           margin-right: 20px;
        }
        .img-device{
            max-width: 100%;
           display: block;
         }
        .devices-suported li{
            color: $cor-secundaria;
            margin-bottom: 10px;
        }
 
    }
            
    @include device(mobile){
        flex-direction: column;
        width: 100%;
        .card{
            max-width: 100%;
        }

    }
}
