
.devices{
   
     h1{
        color: $cor-secundaria;
        padding-bottom: 20px;
    }
    h2{
        text-align: center;
        padding-bottom: 20px;
    }
    .devices-header{
        text-transform: uppercase;
        color:$cor-secundaria;
        padding: 20px 0px; 
        font-size: 16px;

        &::after{
            content: '';
            max-width: 300px;
            min-width: 200px;
            height: 3px;
            background-color: $cor-secundaria;
            display: inline-block;
            margin-left: 20px;
            margin-bottom: 5px;
        }
    }
    @include device(mobile){
        justify-content: center;
    }
}

//Conteiner de cards de dispositivos
.cards-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;

    //Conteiner no mobile
    @include device(mobile){
        flex-direction: column;
        width: 100%;
        .card{
            max-width: 100%;
            margin-right: 0px;
        }
        .card:last-child{
            margin-right: 0px;
        }  
    }

    //Cada card
    .card{
        max-width: 400px;
        padding: 10px;
            .img-container{
                box-shadow: 2px 4px 8px rgba(0,0,0,0.5),
                            1px 2px 4px rgba(0,0,0,0.5);
                border-radius: 10px;
                display: flex;
                align-items: center;
                margin: 0 auto;
            }
            .img-device{
                max-width: 100%;
                display: block;
            }
            .devices-suported {
                display: flex;
                justify-content: space-between;
                flex: 1;
                flex-wrap: wrap;
                color: $cor-secundaria;
            }
            
        }  
    //ultimo filho de card    
    .card:last-child{
        margin-right: 0px;
    }  
}
