
.devices{
     h1{
        color: $cor-font-clara;
        padding-bottom: 20px;
    }
    h2{
        text-align: center;
        color: $cor-font-clara;
        padding-bottom: 20px;
    }
    .devices-header{
        text-transform: uppercase;
        color: $cor-font-clara;
        padding: 20px 0px; 
        font-size: 16px;

        &::after{
            content: '';
            max-width: 300px;
            min-width: 200px;
            height: 3px;
            background-color: $cor-font-clara;
            display: inline-block;
            margin-left: 20px;
            margin-bottom: 5px;
        }
    }
    @include device(mobile){
        justify-content: center;
    }
}

//Conteiner de cards de dispositivos
.cards-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        //Conteiner no mobile
        @include device(mobile){
           align-items: center;
            flex-direction: column;
            width: 100%;
        }
    //Cada card
    .card{
        max-width: 380px;
        margin-right: 20px;
        padding: 20px 0px;
            .img-container{
                // box-shadow: 2px 4px 8px rgba(0,0,0,0.2),
                //             1px 2px 4px rgba(0,0,0,0.2);
                border-radius: 10px;
                display: flex;
                align-items: center;
                margin: 0 auto;
            }
            .img-device{
                max-width: 100%;
                display: block;
                border-radius: 10px;
            }
            h3{ 
                padding: 10px 0px;
                text-transform: uppercase;
                color: $cor-font-clara;

            }
            .devices-suported {
                display: flex;
                justify-content: space-between;
                flex: 1;
                flex-wrap: wrap;
                color: $cor-font-clara;
            }
            
        }  

        @include device(mobile){
            .card{
                max-width: 85%;
                margin-right: 0px;
            }
        }      
    //ultimo filho de card    
    .card:last-child{
        margin-right: 0px;
    }  
}
