.title-default{
    background-color: $cor-terciaria;
    .logo{
        padding: 10px 0px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .title-text{
        padding: 10px 0px;
        text-align: center;
        color: $cor-quartaria;
    }
 
}
.h1-info{
    text-align: center;
    font-size: 3em;
 }
.h2-info{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0px;
}


