.slide{
    position: relative;
    top: -300px;
    .slide-item{
        display: block;
        margin: 0 auto;
        flex-shrink: 0;
        max-width: 800px;
        border-radius: 30px;
        box-shadow: 0 2px 4px rgba(0,0,0,.4);
        transform: scale(.9);
        @include device(mobile){
            transform: scale(0.6);
        }
    }
}

.alice-carousel{
    padding: 0px 0px 20px 0px;

    .alice-carousel__dots{
        margin: 0px;   
    }   
    .alice-carousel__dots-item{
        width: 25px;
        height: 10px;
        border-radius: 5px;
        background-color: rgba(0,0,0,.6);
    }

    .alice-carousel__dots-item:hover, .alice-carousel__dots-item.__active{
        background-color: white;
    }

}

