.main-header{
    @include h1-header(1em);

    height: 100%;
    padding: 10px;
    padding-bottom: 60px;
    height: 60vh;


    .logo{
        display: block;
        margin-bottom: 20px;
    }
    h1{
        margin: 30px 0px;
        font-size: 3em;
        text-shadow: -2px 4px 8px #000;
    }
    h2{ 
        margin: 30px 0px;
        text-shadow: -1px 2px 4px #000;
    }
    .btn{
        @include button();
    }
    .img-resp{
        width: auto;
    }
    @include device(mobile){
        text-align: center;
        height: 100vh;

        @include h1-header(0.85em);
        .btn{
            margin: 0 auto;
            font-size: 22px;
        }
        .logo{
            width: 120px;
            margin: 0 auto;
        }
    }

    @include device(tablet){

        padding-bottom: 0px;
        height: 80vh;
        @include h1-header(0.85em);

        .btn{
            padding: 15px 10px;
            font-size: 18px;
            width: 240px;
        }
        .logo{
            width: 120px;
        }
    }
}

.header-carousel{
    picture img{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
    }
}