$cor-primaria : #f0574e;
$cor-secundaria : black;
$cor-terciaria :rgb(52, 49, 97);
$cor-quartaria: white;

$cor-btn-principal: #d41534;
$cor-bg-header: white;
$cor-bg-main: #d73845;

$cor-font-clara: white;
