.footer{
    background-color: black;
    padding-bottom: 20px;
    
    .logo{
        display: block;
        padding: 15px;
        width: 120px;
        margin: 0 auto;
    }
    h2{
        @include font-primaria(1em,$cor-quartaria);
        text-transform: uppercase;
        text-align: center;
    }
    .span-ajuda{
        text-transform: uppercase;
        color: gray;
        text-align: center;
    }

}

.footer-pos-bottom-0{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }