@import './components/_variables';
@import './components/_mixins.scss';

@import "react-alice-carousel/lib/scss/alice-carousel.scss";

@import '../src/components/Header/styles.scss';
@import '../src/components/Main/Carousel/style.scss';
@import '../src/components/Footer/style.scss';
@import '../src/components/Main/Devices/style.scss';
@import '../src/components/Main/style.scss';
@import '../src/components/CadastroForm/style.scss';
@import '../src/components/Title/style.scss';

*{
  box-sizing: border-box;
}

body, h1,h2, h3, p, ul, li, a, img{
  @include reset;
}
.container{
  display: block;
  max-width: 1224px;
  margin: 0 auto;
  padding: 0px 10px;
  @include device(tablet){
    max-width: 90%;
  }
  @include device(mobile){
    max-width: 400px;
    margin: 0 auto;
  }
}



